<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.0"
    xmlns="http://java.sun.com/xml/ns/javaee"
    xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
    xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd">
    
    <!--全站參數配置 -->
    <context-param>
    	<description>全站編碼配置</description>
    	<param-name>encode</param-name>
    	<param-value>utf-8</param-value>
    </context-param>
    
    <!--過濾器配置開始-->
    <filter>
    	<description>全站亂碼過濾器</description>
    	<filter-name>EncodeFilter</filter-name>
    	<filter-class>com.dailoo.filter.EncodeFilter</filter-class>
    </filter>
    <filter-mapping>
    	<filter-name>EncodeFilter</filter-name>
    	<url-pattern>/*</url-pattern>
    </filter-mapping>
    
    <filter>
		<description>自动登陆过滤器</description>
		<filter-name>AutoLoginFilter</filter-name>
		<filter-class>com.dailoo.filter.AutoLoginFilter</filter-class>
	</filter>
	<filter-mapping>
		<filter-name>AutoLoginFilter</filter-name>
		<url-pattern>/*</url-pattern>
	</filter-mapping>
    <!--過濾器配置結束 -->
    
    <error-page>
    	<exception-type>java.lang.RuntimeException</exception-type>
    	<location>/error/500.jsp</location>
    </error-page> 
    <error-page>  
        <error-code>404</error-code>  
        <location>/error/404.jsp</location>  
    </error-page>  
 
  <servlet>
    <servlet-name>LoginServlet</servlet-name>
    <servlet-class>com.dailoo.web.LoginServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>SpeakerServlet</servlet-name>
    <servlet-class>com.dailoo.web.SpeakerServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>ImgServlet</servlet-name>
    <servlet-class>com.dailoo.web.ImgServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>ViewpointServlet</servlet-name>
    <servlet-class>com.dailoo.web.ViewpointServlet</servlet-class>
  </servlet>


  <servlet-mapping>
    <servlet-name>LoginServlet</servlet-name>
    <url-pattern>/LoginServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>SpeakerServlet</servlet-name>
    <url-pattern>/SpeakerServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>ImgServlet</servlet-name>
    <url-pattern>/ImgServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>ViewpointServlet</servlet-name>
    <url-pattern>/ViewpointServlet</url-pattern>
  </servlet-mapping>

</web-app>