<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd" version="3.0">
  <context-param>
    <description>全站編碼配置</description>
    <param-name>encode</param-name>
    <param-value>utf-8</param-value>
  </context-param>
  <filter>
    <description>全站亂碼過濾器</description>
    <filter-name>EncodeFilter</filter-name>
    <filter-class>com.dailoo.filter.EncodeFilter</filter-class>
  </filter>
  <filter-mapping>
    <filter-name>EncodeFilter</filter-name>
    <url-pattern>/*</url-pattern>
  </filter-mapping>
  <filter>
    <description>自动登陆过滤器</description>
    <filter-name>AutoLoginFilter</filter-name>
    <filter-class>com.dailoo.filter.AutoLoginFilter</filter-class>
  </filter>
  <filter-mapping>
    <filter-name>AutoLoginFilter</filter-name>
    <url-pattern>/*</url-pattern>
  </filter-mapping>
  <filter>
    <description>自動註冊序號過濾器</description>
    <filter-name>SNFilter</filter-name>
    <filter-class>com.dailoo.filter.SNFilter</filter-class>
  </filter>
  <filter-mapping>
    <filter-name>SNFilter</filter-name>
    <url-pattern>/*</url-pattern>
  </filter-mapping>
  <filter>
    <description>短網址過濾器</description>
    <filter-name>ShortUrlFilter</filter-name>
    <filter-class>com.dailoo.filter.ShortUrlFilter</filter-class>
  </filter>
  <filter-mapping>
    <filter-name>ShortUrlFilter</filter-name>
    <url-pattern>/*</url-pattern>
  </filter-mapping>
  <filter>
    <description>網址重寫器</description>
    <filter-name>UrlRewriteFilter</filter-name>
    <filter-class>org.tuckey.web.filters.urlrewrite.UrlRewriteFilter</filter-class>
    <init-param>
      <param-name>logLevel</param-name>
      <param-value>WARN</param-value>
    </init-param>
  </filter>
  <filter-mapping>
    <filter-name>UrlRewriteFilter</filter-name>
    <url-pattern>/*</url-pattern>
  </filter-mapping>
  <error-page>
    <exception-type>java.lang.RuntimeException</exception-type>
    <location>/error/500.jsp</location>
  </error-page>
  <error-page>
    <error-code>404</error-code>
    <location>/error/404.jsp</location>
  </error-page>
  <servlet>
    <servlet-name>LoginServlet</servlet-name>
    <servlet-class>com.dailoo.web.LoginServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>SpeakerServlet</servlet-name>
    <servlet-class>com.dailoo.web.SpeakerServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>ResourceServlet</servlet-name>
    <servlet-class>com.dailoo.web.ResourceServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>ViewpointServlet</servlet-name>
    <servlet-class>com.dailoo.web.ViewpointServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>LogoutServlet</servlet-name>
    <servlet-class>com.dailoo.web.LogoutServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>TagServlet</servlet-name>
    <servlet-class>com.dailoo.web.TagServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>AudioServlet</servlet-name>
    <servlet-class>com.dailoo.web.AudioServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>RegionServlet</servlet-name>
    <servlet-class>com.dailoo.web.RegionServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>ThemeServlet</servlet-name>
    <servlet-class>com.dailoo.web.ThemeServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>SNServlet</servlet-name>
    <servlet-class>com.dailoo.web.SNServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>OrderServlet</servlet-name>
    <servlet-class>com.dailoo.web.OrderServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>AdServlet</servlet-name>
    <servlet-class>com.dailoo.web.AdServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>ShortUrlServlet</servlet-name>
    <servlet-class>com.dailoo.web.ShortUrlServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>ViewpointInfoServlet</servlet-name>
    <servlet-class>com.dailoo.web.ViewpointInfoServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>ThemeInfoServlet</servlet-name>
    <servlet-class>com.dailoo.web.ThemeInfoServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>RegionInfoServlet</servlet-name>
    <servlet-class>com.dailoo.web.RegionInfoServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>CouponServlet</servlet-name>
    <servlet-class>com.dailoo.web.CouponServlet</servlet-class>
  </servlet>

  <servlet-mapping>
    <servlet-name>LoginServlet</servlet-name>
    <url-pattern>/LoginServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>SpeakerServlet</servlet-name>
    <url-pattern>/SpeakerServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>ResourceServlet</servlet-name>
    <url-pattern>/ResourceServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>ViewpointServlet</servlet-name>
    <url-pattern>/ViewpointServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>LogoutServlet</servlet-name>
    <url-pattern>/LogoutServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>TagServlet</servlet-name>
    <url-pattern>/TagServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>AudioServlet</servlet-name>
    <url-pattern>/AudioServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>RegionServlet</servlet-name>
    <url-pattern>/RegionServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>ThemeServlet</servlet-name>
    <url-pattern>/ThemeServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>SNServlet</servlet-name>
    <url-pattern>/SNServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>OrderServlet</servlet-name>
    <url-pattern>/OrderServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>AdServlet</servlet-name>
    <url-pattern>/AdServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>ShortUrlServlet</servlet-name>
    <url-pattern>/ShortUrlServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>ViewpointInfoServlet</servlet-name>
    <url-pattern>/ViewpointInfoServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>ThemeInfoServlet</servlet-name>
    <url-pattern>/ThemeInfoServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>RegionInfoServlet</servlet-name>
    <url-pattern>/RegionInfoServlet</url-pattern>
  </servlet-mapping>

  <servlet-mapping>
    <servlet-name>CouponServlet</servlet-name>
    <url-pattern>/CouponServlet</url-pattern>
  </servlet-mapping>
</web-app>