
.add-sp {
    width: 325px;
    margin: auto;
    margin-top: 80px;
}

.add-sp .photo {
    width: 200px;
    height: 200px;
    margin: auto;
    cursor: pointer;
}

.add-sp .photo img {
    width: 200px;
    height: 200px;
}

.add-sp .desc {
    margin-top: 24px;
    font-size: 40px;
    line-height: 61px;
    text-align: center;
}

.intro {
    width: 780px;
    margin: auto;
    margin-top: 60px;
}

.intro .title {
    font-size: 40px;
    line-height: 56px;
}

.intro .cont {
    width: 732px;
    height: 472px;
    margin-top: 24px;
    padding: 14px 24px;
    border-radius: 10px;
    font-size: 40px;
    line-height: 56px;
    box-shadow: 0 0 2px 0 rgba(151, 151, 151, 0.7);
    background-color: #ffffff;
    border: solid 2px #979797;
}
