
/*地區區塊開始*/
.region {
    width: 780px;
    margin: auto;
    margin-top: 100px;
}

.selec.city {
    width: 276px;
    margin-right: 44px;
}

.selec.vil {
    width: 460px;
}

.selec.city .arrow{
    right: 0;
}
/*地區區塊結束*/

.set {
    width: 780px;
    margin: auto;
    margin-top: 60px;
}

.time, .num {
    width: 292px;
    margin-top: 60px;
}

.time {
    margin-right: 173px;
}

.time .title, .num .title {
    margin-bottom: 24px;
}

.time input, .num input {
    width: 200px;
    border-bottom: solid 2px #979797;
}


