
.add-sp {
    width: 325px;
    margin: auto;
    margin-top: 80px;
}

.add-sp .photo {
    width: 200px;
    height: 200px;
    margin: auto;
}

.add-sp .desc {
    margin-top: 24px;
    font-size: 40px;
    line-height: 61px;
    text-align: center;
}

.intro {
    width: 780px;
    margin: auto;
    margin-top: 60px;
}

.intro .title {
    font-size: 40px;
    line-height: 56px;
}

.intro .cont {
    width: 732px;
    height: 472px;
    margin-top: 24px;
    padding: 14px 24px;
    border-radius: 10px;
    font-size: 40px;
    line-height: 56px;
    box-shadow: 0 0 2px 0 rgba(151, 151, 151, 0.7);
    background-color: #ffffff;
    border: solid 2px #979797;
}

/*儲存取消開始*/
.submit-btns {
    width: 412px;
    margin: auto;
    margin-top: 100px;
    margin-bottom: 144px;
    font-size: 56px;
    line-height: 78px;
    letter-spacing: 1.9px;
    text-align: center;
}

.submit-btns .cancle {
    margin-right: 180px;
}

.submit-btns .submit {
    color: #50afa0;
}
/*儲存取消結束*/