

/*地區開始*/
.region {
    width: 780px;
    margin: auto;
}

/*地區結束*/

#map {
    width: 780px;
    height: 600px;
    margin: auto;
    margin-top: 60px;
}

/*手動定位優先開始*/
.manu-pos {
    width: 780px;
    margin: auto;
    margin-top: 60px;
}

.manu-pos input{
    width: 74px;
    height: 74px;
    margin-right: 24px;
}

.manu-pos .name {
    font-size: 40px;
    line-height: 76px;
    text-align: left;
    color: #595959;
}

.manu-pos .desc {
    width: 780px;
    height: 150px;
    margin-top: 8px;
    font-size: 36px;
    line-height: 50px;
    letter-spacing: 1.2px;
    text-align: left;
    color: #595959;
}
/*手動定位優先結束*/

/*景點代表圖片*/
.repr-pic {
    width: 400px;
    margin: auto;
    margin-top: 90px;
}

.repr-pic img {
    width: 400px;
    height: 400px;
}

.repr-pic .desc {
    margin-top: 24px;
    text-align: center;
}
/*景點代表圖片結束*/

/*景點介紹開始*/
.intro {
    width: 780px;
    margin: auto;
    margin-top: 80px;;
}

.intro textarea {
    width: 732px;
    height: 500px;
    margin-top: 24px;
    padding: 14px 24px;
    border-radius: 10px;
    box-shadow: 0 0 2px 0 rgba(151, 151, 151, 0.7);
    background-color: #ffffff;
    border: solid 2px #979797;
}

/*景點介紹結束*/

.submit-btns {
    width: 412px;
    margin: auto;
    margin-top: 72px;
    margin-bottom: 144px;
    font-size: 56px;
    line-height: 78px;
    letter-spacing: 1.9px;
    text-align: center;
    color: #595959;
}

.submit-btns .cancle {
    margin-right: 180px;
}

.submit-btns .submit {
    color: #50afa0;
}










