@charset "UTF-8";
/*css 初始化 */

@font-face {
    font-family: PingFangSC-Regular;
    src: url(../font/PingFangSC-Regular.woff);
}

@font-face {
    font-family: STFangsong;
    src: local("DFKai-sb");
}

html, body, ul, li, ol, dl, dd, dt, p, h1, h2, h3, h4, h5, h6, form, fieldset, legend, img {
    margin: 0;
    padding: 0;
}

fieldset, img, input, button {
    border: none;
    padding: 0;
    margin: 0;
    outline-style: none;
}

ul, ol {
    list-style: none;
}

input {
    padding-top: 0;
    padding-bottom: 0;
    font-family: "SimSun", "宋体";
}

select, input {
    vertical-align: middle;
}

select, input, textarea {
    font-size: 46px;
    line-height: 66px;
    margin: 0;
}

textarea {
    resize: none;
}

/*防止拖动*/
img {
    border: 0;
    vertical-align: middle;
}

/*  去掉图片低测默认的3像素空白缝隙*/
table {
    border-collapse: collapse;
}

html, body {
    height: 100%;
}

body {
    font: 46px/66px Arial, Verdana, "\5b8b\4f53";
    font-family: Helvetica, Arial, "PingFang TC","LiHei Pro","Heiti TC","Droid Sans","Microsoft JhengHei","新細明體",sans-serif;
    color: #595959;
    background: #fff;

}

.clearfix:before, .clearfix:after {
    content: "";
    display: table;
}

.clearfix:after {
    clear: both;
}

.clearfix {
    *zoom: 1; /*IE/7/6*/
}

a {
    color: #666;
    text-decoration: none;
}

a:hover {
}

h1, h2, h3, h4, h5, h6 {
    text-decoration: none;
    font-weight: normal;
    font-size: 100%;
}

s, i, em {
    font-style: normal;
    text-decoration: none;
}

.col-red {
    color: #C81623 !important;
}

/*公共类*/
.w {
    /*版心 提取 */
    width: 980px;
    margin: 0 auto;


    /*Sticky Footer*/
    position: relative;
    min-height: 100%;
    box-sizing: border-box;
}

.footer {
    position: absolute;
    bottom: 0;
    left: 0;
    height: 2006px;
}

.fl {
    float: left
}

.fr {
    float: right
}

.al {
    text-align: left
}

.ac {
    text-align: center
}

.ar {
    text-align: right
}

.hide {
    display: none
}

/**自定義控件*/

.font-s {
    font-size: 40px;
    line-height: 56px;
    color: #595959;
}

/*標題*/
.main-title {
    width: 100%;
    height: 108px;
    margin-top: 80px;
    font-size: 76px;
    font-weight: 800;
    line-height: 108px;
    text-align: center;
    color: #595959;
}

/*輸入框與下拉選單開始*/

.selec, .input {
    width: 780px;
    margin: 0 auto;
    margin-top: 60px;
    position: relative;
}



.selec, .input {
    height: 160px;
}

.no-title {
    height: 80px;
}

.input.no-title .cont, .selec.no-title .cont {
    margin-top: 0;
}

.selec .name, .input .name {
    height: 56px;
    font-size: 40px;
    line-height: 56px;
    text-align: left;
    color: #595959;
}

.selec .cont, .input .cont {
    width: 780px;
    margin-top: 24px;
    padding-bottom: 14px;
    font-size: 46px;
    line-height: 66px;
    text-align: left;
    color: #595959;
    border-bottom: 2px solid #979797;
}

.selec .arrow, .input .search {
    width: 76px;
    height: 76px;
    position: absolute;
    right: 44px;
}
.selec .arrow {
    bottom: 6px;
    background: url("../images/general/unfold.png");
}
.input .search {
    background: url("../images/general/search.png");
    bottom: 10px;
}

.opt-data {
    display: none;
}

/*下拉選單的鄉鎮市區*/
.selec.city {
    width: 276px;
    height: 82px;
    margin-top: 24px;
    margin-right: 44px;
}

.selec.vil {
    width: 460px;
    height: 82px;
    margin-top: 24px;
}

.selec.city .cont, .selec.vil .cont {
    margin-top: 0;
}

.selec.city .cont {
    width: 276px;
}

.selec.vil .cont {
    width: 460px;
}

.selec.city .arrow {
    right: 0;
}
/*輸入框與下拉選單結束*/

/*上傳語音檔案開始*/
.upload {
    width: 780px;
    height: 160px;
    margin: 0 auto;
    margin-top: 60px;
    border-bottom: 2px solid #979797;
    position: relative;
}

.upload .name {
    height: 56px;
    font-size: 40px;
    line-height: 56px;
    text-align: left;
    color: #595959;
}

.upload .cont{
    height: 66px;
    margin-top: 24px;
    font-size: 46px;
    line-height: 66px;
    text-align: left;
    color: #595959;
}

.upload .choose {
    width: 138px;
    height: 76px;
    background: url("../images/general/upload.png");
    position: absolute;
    right: 12px;
    bottom: 16px;
}

.upload-desc {
    width: 780px;
    height: 150px;
    margin: auto;
    margin-top: 16px;
    font-size: 36px;
    line-height: 50px;
    font-weight: 300;
    letter-spacing: 1.2px;
    text-align: left;
    color: #595959;
}

.upload-desc a,  .upload-desc a:hover{
    color: #50afa0;
    text-decoration:underline
}
/*上傳語音檔案結束*/

/*增加對應主題開始*/
.add-theme {
    width: 780px;
    margin: auto;
    margin-top: 60px;
    margin-bottom: 80px;
    font-size: 46px;
    line-height: 76px;
    text-align: left;
    color: #595959;
}

.add-theme .btn {
    width: 76px;
    height: 76px;
    margin-right: 36px;
    background: url("../images/general/add.png");
}

.add-theme .desc span {
    color: #50afa0;
}
/*增加對應主題結束*/

/*儲存取消開始*/
.submit-btns {
    width: 412px;
    margin: auto;
    margin-top: 100px;
    margin-bottom: 144px;
    font-size: 56px;
    line-height: 78px;
    letter-spacing: 1.9px;
    text-align: center;
}

.submit-btns div {
    float: left;
}

.submit-btns .submit-l {
    margin-right: 180px;
}

.submit-btns .hint {
    color: #50afa0;
}
/*儲存取消結束*/








