


.theme {
    width: 780px;
    height: 242px;
    margin: 0 auto;
    margin-top: 80px;
    position: relative;
}

.theme .cover {
    position: absolute;
    width: 780px;
    height: 192px;
    text-align: center;
    top: 38px;
    background-image: linear-gradient(to bottom, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.2) 18%, rgba(0, 0, 0, 0.2) 85%, rgba(0, 0, 0, 0));
    cursor: pointer;
}

.theme .cover .title {
    margin-top: 24px;
    margin-left: 70px;
    line-height: 72px;
    font-size: 56px;
    letter-spacing: 25px;
    text-align: left;
    color: #ffffff;
}

.theme .cover .title-eng {
    margin-left: 70px;
    line-height: 62px;
    font-size: 56px;
    letter-spacing: 10px;
    text-align: left;
    color: #ffffff;
}

.theme .img-border {
    width: 780px;
    height: 242px;
}

.theme img {
    width: 780px;
    height: 242px;
}

.theme-desc {
    width: 414px;
    margin: 0 auto;
    margin-top: 40px;
    font-size: 50px;
    line-height: 70px;
}
