
/*預覽刪除景點開始*/
.vp {
    height: 78px;
    width: 620px;
    margin: auto;
    margin-top: 80px;;
    font-size: 56px;
    line-height: 78px;
    letter-spacing: 1.9px;
}

.vp .del {
    width: 232px;
    height: 78px;
    margin-right: 156px;
    display: block;
    cursor: pointer;
}

.vp .show {
    width: 232px;
    height: 78px;
    color: #50afa0;
    display: block;
}
/*預覽刪除景點結束*/

/*短網址開始*/
.shortUrl {
    width: 780px;
    margin: auto;
}

.shortUrl .name {
    margin-top: 100px;
    margin-bottom: 16px;
}

.shortUrl .url {
    width: 540px;
}

.shortUrl .copy {
    width: 160px;
    color: #50afa0;
    background: url("../images/general/copy.png") no-repeat 90px -6px;
    cursor: pointer;
}
/*短網址結束*/

/*景點名稱提示區塊開始*/
.hint-list {
    width: 740px;
    padding: 20px;
    position: absolute;
    top: 120px;
    left: 0;
    background: #FFFFFF;
    border: solid 2px #979797;
    border-radius: 20px;
    z-index: 1001;
    display: none;
}

.hint-list .opt {
    line-height: 90px;
    border-bottom: solid 2px #979797;
}
/*景點名稱提示區塊結束*/

/*上傳語音檔案開始*/
.upload {
    width: 780px;
    height: 160px;
    margin: 0 auto;
    margin-top: 64px;
    border-bottom: 2px solid #979797;
    position: relative;
}

.upload .cont{
    height: 66px;
    margin-top: 24px;
}

.upload .choose {
    width: 138px;
    height: 76px;
    background: url("../images/general/change.png");
    position: absolute;
    right: 12px;
    bottom: 16px;
}

.upload-desc {
    width: 780px;
    height: 150px;
    margin: auto;
    margin-top: 16px;
    font-size: 36px;
    line-height: 50px;
    font-weight: 300;
    letter-spacing: 1.2px;
}

.upload-desc a,  .upload-desc a:hover{
    color: #50afa0;
    text-decoration:underline
}
/*上傳語音檔案結束*/

.region {
    width: 780px;
    margin: auto;
}

#map {
    width: 780px;
    height: 600px;
    margin: auto;
    margin-top: 60px;
}

/*手動定位優先開始*/
.manu-pos {
    width: 780px;
    margin: auto;
    margin-top: 60px;
}

.manu-pos input{
    width: 74px;
    height: 74px;
    margin-right: 24px;
}

.manu-pos .name {
    font-size: 40px;
    line-height: 76px;
}

.manu-pos .desc {
    width: 780px;
    height: 150px;
    margin-top: 8px;
    font-size: 36px;
    line-height: 50px;
    letter-spacing: 1.2px;
}
/*手動定位優先結束*/

/*景點代表圖片*/
.repr-pic {
    width: 400px;
    margin: auto;
    margin-top: 90px;
}

.repr-pic .border {
    width: 400px;
    height: 400px;
}

.repr-pic img {
    width: 400px;
    height: 400px;
    cursor: pointer;
}

.repr-pic .desc {
    margin-top: 24px;
    text-align: center;
}
/*景點代表圖片結束*/

/*編輯景點音檔開始*/
.edit-audio {
    width: 780px;
    margin: 0 auto;
    margin-top: 80px;
}

.edit-audio .btn {
    margin: 0 auto;
    display: block;
}

.edit-audio .desc {
    margin-top: 24px;
    text-align: center;
}


/*景點介紹開始*/
.intro {
    width: 780px;
    margin: auto;
    margin-top: 80px;;
}

.intro textarea {
    width: 732px;
    height: 500px;
    margin-top: 24px;
    padding: 14px 24px;
    border-radius: 10px;
    box-shadow: 0 0 2px 0 rgba(151, 151, 151, 0.7);
    background-color: #ffffff;
    border: solid 2px #979797;
}

/*景點介紹結束*/
















