
.sort {
    width: 650px;
    margin: auto;
    margin-top: 80px;
}

.sort .func {
    margin-right:40px;
    float: left;
}

.sort .enable {
    color: #50afa0;
}

.list {
    width: 780px;
    margin: auto;
    margin-top: 100px;
}

.list .vp {
    margin-top: 48px;
    letter-spacing: normal;
    color: #000000;
    border-bottom: solid 2px #979797;
    display: block;
}