
.links {
    width: 780px;
    margin: auto;
    margin-top: 80px;
    margin-bottom: 100px;
    font-size: 56px;
    line-height: 78px;
}

.links .link-l {
    margin-right: 200px;
}

.links .link-r {
    color: #50afa0;
}

/*主題區塊開始*/

.themes {
    width: 780px;
    margin: auto;
    margin-top: -74px;
}

.theme {
    width: 780px;
    height: 242px;
    margin-top: 154px;
    position: relative;
}

.theme .cover {
    position: absolute;
    width: 780px;
    height: 192px;
    text-align: center;
    top: 38px;
    background-image: linear-gradient(to bottom, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.2) 18%, rgba(0, 0, 0, 0.2) 85%, rgba(0, 0, 0, 0));
}

.theme .cover .title {
    margin-top: 24px;
    margin-left: 70px;
    line-height: 72px;
    font-size: 56px;
    letter-spacing: 25px;
    text-align: left;
    color: #ffffff;
}

.theme .cover .title-eng {
    margin-left: 70px;
    line-height: 62px;
    font-size: 56px;
    letter-spacing: 10px;
    text-align: left;
    color: #ffffff;
}

.themes .theme .img-border {
    width: 780px;
    height: 242px;
}

.themes .theme img {
    width: 780px;
    height: 242px;
}

.themes .theme .edit {
    margin-top: 24px;
    margin-right: 60px;
    color: #50afa0;
}

.themes .theme .cancle {
    margin-top: 24px;
    cursor: pointer;
}
















