.w {
    position: relative;
}

a {
    display: inline-block;
    height: 35px;
    position: absolute;
}

.map {
    width: 960px;
}

#vp1 {
    width: 144px;
    top: 312px;
    left: 572px;
}

#vp2 {
    width: 212px;
    top: 381px;
    left: 697px;
}

#vp3 {
    width: 98px;
    top: 410px;
    left: 534px;
}

#vp4 {
    width: 98px;
    top: 452px;
    left: 515px;
}

#vp5 {
    width: 137px;
    top: 470px;
    left: 659px;
}

#vp6 {
    width: 101px;
    top: 683px;
    left: 463px;
}

#vp7 {
    width: 211px;
    top: 729px;
    left: 287px;
}

#vp8 {
    width: 118px;
    top: 759px;
    left: 501px;
}

#vp9 {
    width: 98px;
    top: 798px;
    left: 485px;
}

#vp10 {
    width: 151px;
    top: 806px;
    left: 299px;
}

#vp11 {
    width: 155px;
    top: 874px;
    left: 473px;
}

#vp12 {
    width: 83px;
    top: 969px;
    left: 400px;
}

#vp13 {
    width: 118px;
    top: 1015px;
    left: 836px;
}

#vp14 {
    width: 111px;
    height: 115px;
    top: 1029px;
    left: 415px;
}

#vp15 {
    width: 101px;
    top: 1130px;
    left: 4px;
}

#vp16 {
    width: 81px;
    top: 1134px;
    left: 213px;
}

#vp17 {
    width: 118px;
    top: 1148px;
    left: 336px;
}

#vp18 {
    width: 158px;
    height: 56px;
    top: 1082px;
    left: 537px;
}

#vp19 {
    width: 81px;
    top: 1139px;
    left: 630px;
}

#vp20 {
    width: 119px;
    top: 1122px;
    left: 730px;
}

#vp21 {
    width: 152px;
    top: 1158px;
    left: 766px;
}

#vp22 {
    width: 117px;
    top: 1222px;
    left: 195px;
}

#vp23 {
    width: 117px;
    top: 1234px;
    left: 452px;
}

#vp24 {
    width: 99px;
    top: 1201px;
    left: 580px;
}

#vp25 {
    width: 135px;
    top: 1240px;
    left: 570px;
}

#vp26 {
    width: 118px;
    top: 1238px;
    left: 712px;
}

#vp27 {
    width: 116px;
    top: 1200px;
    left: 780px;
}





















