.route {
    width: 852px;
    margin: 0 auto;
    font-size: 32px;
    line-height: 60px;
}

.route a {
    display: inline-block;
}

/*路線圖開始*/
.route .cover {
    height: 120px;
    padding: 0 50px 0 50px;

    font-size: 48px;
    line-height: 120px;
    text-align: center;
    color: #ffffff;

    background-color: #267091;
    border-radius: 72px;
    box-shadow: 2px 2px 4px 0 rgba(0, 0, 0, 0.5);
}

.route .desc {
    width: 880px;
    margin-top: 32px;
    font-size: 40px;
    line-height: 56px;
    letter-spacing: 1.3px;
    text-align: center;
    color: #000000;
}
/*路線圖結束*/

.route .line {
    margin: 0 auto;
    margin-top: 128px;
    margin-bottom: 96px;
    width: 800px;
    height: 1px;
    border: solid 1px #979797;
}

