.question {
    width: 880px;
    margin: 0 auto;
    font-size: 32px;
    line-height: 60px;
}

/*填問卷開始*/
.question .cover {
    width: 500px;
    height: 180px;
    margin: 0 auto;

    font-size: 56px;
    line-height: 180px;
    text-align: center;
    color: #ffffff;

    background: url("../images/question/question_background.png") no-repeat;
}

.question .desc {
    margin-top: 8px;
    margin-bottom: 148px;
    font-size: 40px;
    line-height: 56px;
    letter-spacing: 1.3px;
    text-align: center;
    color: #000000;
}
/*填問卷結束*/

/*耳機服務開始*/
.question .servdesc {
    width: 880px;
    height: 100%;
    border-radius: 72px;
    background-color: #ffffff;
    border: solid 4px #979797;
    margin-top: 50px;
}

.question .servdesc .main-title img {
    margin-top: 24px;
    margin-left: 102px;
}

.question .servdesc .main-title .main-title {
    font-size: 46px;
    line-height: 65px;
    text-align: left;
    margin-left: 24px;
    margin-top: 38px;
}

.question .servdesc .desc {
    width: 808px;
    margin: 0 auto;
    margin-top: 32px;
    font-size: 40px;
    font-weight: 300;
    line-height: 1.38;
    letter-spacing: 1.4px;
    text-align: left;
    color: #000000;
}

.question .locationlist {
    list-style-type: none;
    margin-top: 24px;
}

.question .locationlist li {
    font-size: 40px;
    line-height: 56px;
    margin-left: 38px;
    margin-top: 12px;
    letter-spacing: 1.3px;
    text-align: left;
    padding-left: 40px;
    background: url("../images/question/location.png") -1px 13px no-repeat;
}

.question .locationlist li a {
    color: #267091;
}

.servdesc .headphone-desc .price {
    width: 724px;
    margin: 0 auto;
    margin-top: 50px;
    font-size: 40px;
    line-height: 48px;
    font-family: Helvetica;
    color: #595959;

}

.servdesc .headphone-desc .price .sepa {
    height: 50px;
    margin-left: 42px;
    margin-right: 42px;
    border: solid 2px #595959;
}

.servdesc .headphone-desc .desc {
    width: 748px;
    margin-top: 42px;
    margin-bottom: 48px;
    font-size: 40px;
    line-height: 1.38;
    font-weight: 300;
    letter-spacing: 1.4px;
    text-align: left;
}
/*耳機服務結束*/