
.w {
}


/*頭部開始*/
.header {
    margin-top: 48px;
}

.header .logo {
    width: 184px;
    height: 80px;
    margin-left: 20px;
    position: absolute;
    top: -10px;
    left: 0;
}

.header .cover {
    font-size: 50px;
    line-height: 70px;
    letter-spacing: 3px;
    float: right;
    margin-right: 15px;
}

/*頭部結束*/

/*主題列表開始*/
.themelist {
    width: 100%;
}

.theme {
    position: relative;
}

.theme .cover {
    position: absolute;
    width: 980px;
    height: 232px;
    text-align: center;
    top: 72px;
    background-image: linear-gradient(to bottom, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.2) 18%, rgba(0, 0, 0, 0.2) 85%, rgba(0, 0, 0, 0));
}

.theme .cover .main-title {
    margin-top: 24px;
    margin-left: 70px;
    line-height: 100px;
    font-size: 72px;
    letter-spacing: 25px;
    text-align: left;
    color: #ffffff;
}

.theme .cover .title-eng {
    margin-left: 70px;
    line-height: 90px;
    font-size: 64px;
    letter-spacing: 10px;
    text-align: left;
    color: #ffffff;
}

.themelist .theme {
    width: 100%;
    height: 304px;
    margin-top: 48px;
}

.themelist .theme img {
    width: 980px;
    height: 303px;
}
/*主題列表結束*/