
.w {
}


/*頭部開始*/
.header {
    margin-top: 40px;
}

.header .logo {
    width: 146px;
    height: 47px;
    margin-left: 20px;
    position: absolute;
}

.header .cover {
    width: 100%;
    text-align: center;
    font-size: 48px;
    line-height: 48px;
    letter-spacing: 3.6px;
}

/*頭部結束*/

/*主題列表開始*/
.themelist {
    margin-top: 52px;
    margin-left: 13px;
    margin-right: 12px;
    width: 935px;
}

.theme {
    position: relative;
}

.theme .cover {
    position: absolute;
    background: rgba(0,0,0,0.2);
    width: 100%;
    text-align: center;
    top: 72px;
}

.theme .cover .title {
    font-size: 72px;
    line-height: 142px;
    color: #FFF;
    letter-spacing: 25px;
}

/*.theme .cover .desc {
    font-size: 36px;
    line-height: 36px;
    color: #FFF;
    margin-top: 18px;
    margin-bottom: 18px;
    letter-spacing: 2px;
}*/

.themelist .theme {
    width: 936px;
    height: 284px;
    margin-top: 47px;
}

.themelist .theme img {
    width: 936px;
    height: 284px;
}
