/*頁籤欄開始*/

.nav {
    background: url("../images/viewlist/nav_background.png");
    width: 980px;
    height: 166px;
    position: absolute;
    left: 0;
    top: 0;
    box-shadow: 0 11px 11px 0 rgba(0, 0, 0, 0.2);
}

.nav .back {
    position: absolute;
    top: 40px;
    left: 42px;
}


.nav .title {
    width: 100%;
    text-align: center;
    margin: 0 auto;
    line-height: 166px;
    font-size: 50px;
    color: #ffffff;
    display: inline-block;
}

.nav .drop {
    width: 40px;
    height: 56px;
    margin-left: 16px;
    background: url("../images/viewlist/dropdown.png") no-repeat;
    display: inline-block;
}

/*主題列表開始*/

.themelist {
    position: absolute;
    top: 166px;
    left: 0;
    z-index: 1;
}

.themelist .theme {
    width: 980px;
    font-size: 50px;
    line-height: 100px;
    text-align: center;
    background-color: rgba(89, 89, 89, 0.9);
    color: #fff;
    border-bottom: solid 1px #979797;
}

.themelist .reply {
    width: 980px;
    height: 76px;
    background-color: #595959;
    box-shadow: 0 11px 11px 0 rgba(0, 0, 0, 0.2);
}

.themelist .reply img {
    width: 76px;
    height: 76px;
    position: absolute;
    margin-left: 50%;
    left: -38px;
}

/*主題列表結束*/


/*景點列表開始*/
.viewlist {
    margin-top: 242px;
    margin-left: 56px;
    margin-bottom: 32px;
}

.viewlist .view {
    float: left;
    width: 400px;
    height: 508px;
    margin-right: 52px;
    margin-bottom: 48px;
    position: relative;
    z-index: 0;
}

.viewlist .view img {
    width: 400px;
    height: 400px;
    border-radius: 12px;
}

.viewlist .view .cover {
    position: absolute;
    width: 100%;
    height: 132px;
    background-image: linear-gradient(to bottom, rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.5));
    bottom: 108px;
    left: 0;
    border-bottom-right-radius: 12px;;
    border-bottom-left-radius: 12px;
}

.viewlist .view .title {
    width: 400px;
    font-size: 46px;
    line-height: 1.09;
    letter-spacing: 1.2px;
    text-align: left;
    color: #ffffff;
    position: absolute;
    top: 285px;
    left: 10px;
}

.viewlist .view .speaker-photo {
    width: 80px;
    height: 80px;
    margin-top: 18px;
    border-radius: 50%;
    margin-right: 20px;
    border: 1px solid #ccc;
}

.viewlist .view .subtitle {
    width: 500px;
    overflow: hidden;
    font-size: 34px;
    line-height: 48px;
    text-align: left;
    color: #ffffff;
    position: absolute;
    bottom: 110px;
    left: 8px;
}

.viewlist .view .speaker {
    font-size: 36px;
    line-height: 45px;
    margin-top: 14px;
    color: #000000;
}

.viewlist .view .time {
    font-size: 32px;
    line-height: 45px;
    font-weight: 300;
    color: #363636;
}

