.player {
    margin: 0 auto;
    width: 980px;
    height: 1580px;
    background: url("../images/viewpoint/background_player.png");
    position: relative;
}

/*主功能頭部導航欄開始*/
.player .header {
    margin-top: 52px;
    height: 76px;
    margin-left: 43px;
    margin-right: 43px;
}

.player .header .back {
    margin-right: 30px;
}

.player .header .location {
    margin-right: 28px;
}
/*主功能頭部導航欄結束*/

/*標題區塊開始*/
.player .title {
    margin-top: 32px;
    font-size: 76px;
    line-height: 107px;
    text-align: center;
    font-weight: 500;
    color: #ffffff;
    letter-spacing: 3px;
}

.player .subtitle {
    margin-top: 16px;
    font-size: 42px;
    line-height: 59px;
    text-align: center;
    color: #ffffff;
}
/*標題區塊結束*/

/*圖片輪播區塊開始*/
.player .picshower {
    margin-top: 144px; /*42px*/
    position: relative;
}

.player .picshower .prevpic {
    width: 80px;
    height: 80px;
    background: url("../images/viewpoint/prev_pic.png") no-repeat;
    position: absolute;
    top: 230px;
    left: 26px;
    display: none;
}

.player .picshower .pic {
    width: 100%;
    height: 540px; /*720px*/
    margin: 0 auto;
    display: block;
}

.player .picshower .nextpic {
    width: 80px;
    height: 80px;
    background: url("../images/viewpoint/next_pic.png") no-repeat;
    position: absolute;
    top: 230px;
    right: 26px;
    display: none;
}

.player .picshower .photo-count {
    font-size: 36px;
    line-height: 50px;
    letter-spacing: 6px;
    color: #ffffff;
    text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.3);
    position: absolute;
    top: -70px;
    right: 52px;
}

/*圖片輪播區塊結束*/

/*講者小圖*/
.player .speaker-small {
    width: 100px;
    height: 100px;
    margin-top: 73px; /*-16px*/
    margin-left: 80px;
    border-radius: 50%;
    position: relative;
}


/*聲音進度條開始*/
.player .scroll {
    width: 720px;
    height: 12px;
    background-color: rgba(0, 0, 0, 0.7);
    margin-top: 44px;
    margin-left: auto;
    margin-right: auto;
    position: relative;
}

.player .bar {
    width: 60px;
    height: 60px;
    background: url("../images/viewpoint/bar.png") no-repeat;
    cursor: pointer;
    position: absolute;
    top: -24px;
    left: 0;
    z-index: 5;
    margin-left: -30px;
}

.player .mask {
    width: 0;
    height: 100%;
    background-color: #FFFFFF;
    position: absolute;
    top: 0;
    left: 0;
}

.player .nowtime {
    font-size: 32px;
    line-height: 45px;
    color: #ffffff;
    position: absolute;
    top: 20px;
    left: -40px;
}

.player .alltime {
    font-size: 32px;
    line-height: 45px;
    color: #ffffff;
    position: absolute;
    top: 20px;
    right: -40px;
}

.player .tag {
    width: 16px;
    height: 32px;
    background: url("../images/viewpoint/tag.png") no-repeat;
    position: absolute;
    top: -36px;
    left: 0;
    cursor: pointer;
    z-index: 3;
}

.player .tag.cur {
    background: url("../images/viewpoint/tag_choosed.png") no-repeat;
}

/*聲音進度條結束*/

/*聲音控制器開始*/
.player .soundctrl {
    width: 474px;
    margin: 0 auto;
    margin-top: 56px;
}

.player .soundctrl .prevtag {
    width: 100px;
    height: 100px;
    margin-right: 45px;
    margin-top: 40px;
    background: url("../images/viewpoint/prev_tag.png") no-repeat;
}

.player .soundctrl .play {
    width: 180px;
    height: 180px;
    margin-right: 45px;
    background: url("../images/viewpoint/play.png") no-repeat;
}

.player .soundctrl .nexttag {
    width: 100px;
    height: 100px;
    margin-top: 40px;
    background: url("../images/viewpoint/next_tag.png") no-repeat;
}

/*聲音控制器結束*/

/*景點簡介開始*/
.summary {
    width: 860px;
    height: 100%;
    margin: 0 auto;
    margin-top: 56px;
    margin-bottom: 34px;
    position: relative;
    overflow: hidden;
}

.summary .title {
    font-size: 50px;
    line-height: 70px;
    letter-spacing: 2.5px;
}

.summary .subtitle {
    font-size: 38px;
    line-height: 53px;
    font-weight: 300;
    letter-spacing: 1.2px;
    color: #595959;
}

.summary .intro {
    height: 100%;
    margin-top: 24px;
    font-size: 40px;
    line-height: 55px;
    overflow: hidden;
}

.summary .readall {
    width: 100%;
    font-size: 40px;
    line-height: 55px;
    text-align: left;
    color: #267091;
    background-color: #fff;
    position: absolute;
    left: 0;
    bottom: -4px;
}

/*景點簡介結束*/

/*意見回饋開始*/
.feedback {
    width: 400px;
    height: 140px;
    margin-left: 560px;
    background: url("../images/viewpoint/feedback_ground.png");
    font-size: 38px;
    line-height: 140px;
    letter-spacing: 1.2px;
    text-align: center;
    color: #ffffff;
}
/*意見回饋結束*/

/*講者介紹開始*/
.speaker {
    width: 860px;
    margin: 0 auto;
    margin-top: 30px;
}


/*講者基礎資訊開始*/
.speaker .info {
    margin-top: 56px;
}

.speaker .info-l {
}

.speaker .info-l .photo {
    width: 300px;
    height: 300px;
    border-radius: 50%;
}

.speaker .info-r .name {
    width: 460px;
    margin-left: 80px;
    margin-top: -8px;
    font-size: 56px;
    line-height: 78px;
    letter-spacing: 2.4px;
    color: #000;
    text-align: left;
}

/*講者簡歷開始*/
.speaker .info-r .resume {
    margin-left: 56px;
    margin-top: 2px;
}
.speaker .info-r .resume ul {
    margin-left: 26px;
}

.speaker .info-r .resume li {
    width: 460px;
    margin-top: 6px;
    font-size: 36px;
    line-height: 50px;
    font-weight: 300;
    color: #595959;
    letter-spacing: 1px;
    text-align: left;
}
/*講者簡歷結束*/


/*講者聯絡資訊開始*/
.speaker .contactInfo {
    width: 835px;
    overflow: hidden;
    margin-top: 46px;
}

.speaker .contactInfo .phone, .speaker .contactInfo .home, .speaker .contactInfo .facebook {
    width: 1200px;
    margin-top: 24px;
    position: relative;
    font-size: 36px;
    line-height: 43px;
    letter-spacing: 2.4px;
    text-align: left;
    color: #267091;
    display: inline-block;
}

.speaker .contactInfo .phone {
    padding-left: 60px;
}

.speaker .contactInfo .phone s {
    width: 40px;
    height: 40px;
    display: inline-block;
    position: absolute;
    top: 0;
    left: 0;
    background: url("../images/viewpoint/phone.png") no-repeat;
}

.speaker .contactInfo .home {
    padding-left: 60px;
}

.speaker .contactInfo .home s {
    width: 40px;
    height: 40px;
    display: inline-block;
    position: absolute;
    top: 0;
    left: 0;
    background: url("../images/viewpoint/call.png") no-repeat;
}

.speaker .contactInfo .facebook {
    padding-left: 60px;
    word-wrap: break-word;
}

.speaker .contactInfo .facebook s {
    width: 40px;
    height: 40px;
    display: inline-block;
    position: absolute;
    top: 0;
    left: 0;
    background: url("../images/viewpoint/home.png") no-repeat;
}
/*講者聯絡資訊結束*/

/*講者基礎資訊結束*/



/*講者簡述開始*/
.speaker .intro {
    margin-top: 42px;
    width: 860px;
    height: 100%;
    font-size: 40px;
    line-height: 56px;
    position: relative;
    overflow: hidden;
}

.speaker .readall {
    width: 100%;
    background-color: #FFF;
    font-size: 40px;
    line-height: 56px;
    text-align: left;
    color: #267091;
    position: absolute;
    left: 0;
    bottom: -4px;
}
/*講者簡述結束*/

/*講者介紹影片*/
.speaker .ytplayer {
    margin-top: 72px;
}
/*講者介紹結束*/

/*還可以收聽開始*/
.more-audio {
    width: 880px;
    margin: 0 auto;
    margin-top: 148px;
}

.more-audio .title {
    margin-bottom: 60px;
    font-size: 42px;
    line-height: 59px;
    letter-spacing: 1.2px;
    text-align: left;
}

.more-audio .audio {
    margin-top: 42px;
    width: 860px;
    border-radius: 72px;
    background-color: #267091;

    font-size: 40px;
    line-height: 112px;
    font-weight: 500;
    letter-spacing: 1.4px;
    text-align: center;
    color: #ffffff;
}


/*還可以收聽結束*/

/*週邊景點開始*/
.neigh-view {
    width: 880px;
    margin: 0 auto;
    margin-top: 134px;
}

.neigh-view .title {
    margin-bottom: 60px;
    font-size: 42px;
    line-height: 59px;
    letter-spacing: 1.2px;
    text-align: left;
}

.viewlist {
    height: 550px;
}

.viewlist ul {
    width: 10000px;
    position: absolute;
    left: 50px;
}

.viewlist .view {
    float: left;
    width: 400px;
    height: 508px;
    margin-right: 52px;
    margin-bottom: 48px;
    position: relative;
    z-index: 0;
}

.viewlist .view img {
    width: 400px;
    height: 400px;
    border-radius: 12px;
}

.viewlist .view .cover {
    position: absolute;
    width: 100%;
    height: 132px;
    background-image: linear-gradient(to top, rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.5));
    bottom: 108px;
    left: 0;
    border-bottom-right-radius: 12px;;
    border-bottom-left-radius: 12px;
}

.viewlist .view .title {
    width: 400px;
    font-size: 46px;
    line-height: 1.09;
    letter-spacing: 1.2px;
    text-align: left;
    color: #ffffff;
    position: absolute;
    top: 285px;
    left: 10px;
}

.viewlist .view .speaker-photo {
    width: 78px;
    height: 78px;
    margin-top: 18px;
    border-radius: 50%;
    margin-right: 20px;
    border: 1px solid #ccc;
}

.viewlist .view .subtitle {
    width: 500px;
    overflow: hidden;
    font-size: 34px;
    line-height: 48px;
    text-align: left;
    color: #ffffff;
    position: absolute;
    bottom: 110px;
    left: 8px;
}

.viewlist .view .speaker-info {
    width: 300px;
    overflow: hidden;
}

.viewlist .view .speaker {
    font-size: 36px;
    line-height: 45px;
    margin-top: 16px;
    color: #000000;
}

.viewlist .view .time {
    font-size: 32px;
    line-height: 45px;
    font-weight: 300;
    color: #363636;
}

.viewlist .view .distance {
    position: absolute;
    bottom: 10px;
    right: 0px;
    font-size: 32px;
    line-height: 32px;
    color: #FFA53B;
}

/*分享功能開始*/
.sharemask {
    position: fixed;
    width: 100%;
    height: 150%;
    top: 0;
    left: 0;
    background: rgba(0, 0, 0, 0.6);
    z-index: 999;
    display: none;
}

.sharebox {
    position: fixed;
    top: 50%;
    left: 50%;
    width: 570px;
    height: 250px;
    z-index: 1000;
    margin: -125px 0 0 -280px;
    display: none;
}

ul.share-buttons {
    list-style: none;
    padding: 0;
}

ul.share-buttons li {
    display: inline;
    margin-right: 9px;
}

ul.share-buttons .sr-only {
    position: absolute;
    clip: rect(1px 1px 1px 1px);
    clip: rect(1px, 1px, 1px, 1px);
    padding: 0;
    border: 0;
    height: 1px;
    width: 1px;
    overflow: hidden;
}

ul.share-buttons img {
    width: 100px;
}

.sharebox .share-input {
    margin-top: 30px;
}

.sharebox .share-input input{
    width: 528px;
    height: 66px;
    font-size: 46px;
    padding: 5px 5px 5px 15px;
}
/*分享功能結束*/